# Virtual environments
.venv/
venv/

# Env files
.env
local.env

# Webhook commands with secrets
commands.json

# Cache
__pycache__/
app/__pycache__/

# Volumes
volumes/

# Config files
.idea/
.vscode/

# Log files
logs/
# Keys
certs/

# Others
.history/

test.py